body {
  font-variant-numeric: tabular-nums;
  font-family: "Courier", monospace;
  font-weight: bold;
  background-color: #FCBF49;
  color: #333;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

#section-aligner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#board {
  font-size: 2.5rem;
  letter-spacing: 3px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 20px;
  background-color: #EAE2B7;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  text-align: center;
}

#score {
  text-align: center;
}